.recipe {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}
.recipe ul {
    list-style: none;
    display: inline-block;
    text-align: left;
    padding: 0;
    display: block;
  }

.ingredients {
    width: 100%;
    float: left; 
    padding: 0;
}

.instructions {
    width: 100%;
    text-align: right;
    float: left;
    padding: 0;
}

.instructions ul {
    padding: 0;
}

@media (min-width: 800px) {
    .recipe {
        display: inherit;
        flex-direction: unset;
    }

    .ingredients{
        width: 20%;
    }

    .instructions {
        width: 80%;
    }

    .instructions ul {
        padding: 0 0 0 15px;
    }
}