.recipe {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}
.recipe ul {
    list-style: none;
    padding: 0;
  }

.ingredients {
    width: 100%;
    padding: 0;
}

.instructions {
    width: 100%;
    padding: 0;
}

.title {
    width: 100%
}

.instructions ul {
    padding: 0;
}

@media (min-width: 800px) {
    .recipe {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .ingredients{
        width: 20%;
    }

    .instructions {
        width: 80%;
    }

    .instructions ul {
        padding: 0 0 0 15px;
    }
}