.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sideBar {
    position: absolute;
    top: 67px;
    width: 280px;
    max-width: 70%;
    height: 100%;
    background-color: white;
    z-index: 200;
    border-top: 30px solid white;
    transition: transform 0.3s ease-out;
    text-align: center;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.main {
    width: 100%;
    text-align: left;
    position: relative;
}

@media (min-width: 1024px) {
    .sideBar {
        width: 20%;
        margin: 30px auto;
        text-align: center;
        position: relative;
        border: 0;
        top: initial;
    }

    .main {
        width: 80%;
    }

    .Close {
        transform: translateX(0);
    }
    
}